@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the world of Zeta's Flower Collection, where beauty meets elegance in every petal</h1>
    
</div>
